:root{
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: purple;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  scroll-behavior: smooth;
}



body{
  font-family: 'Poppins',sans-serif;
  background-image:url(vimal-s-cPGMrfAuUSg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* max-width: 1400px; */
  margin:  auto;
  min-height: 100vh;
}

a{
  color: var(--link-color);
  text-decoration: none;
}